@import "../../variables";
@import "../../fonsts";
.nav{
    width: 100%;
    &__block{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 63px 0;
    }
    &__list{
        display: flex;
    }
    &__item{
        list-style: none;
        margin-left: 42px;
        &:first-child{
            margin: 0;
        }
    }
    &__links{
        text-decoration: none;
        color: $font-color;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        transition: 0.3s ease;
        &:hover{
            color: $hover-color;
        }
        &:active{
            color: $active-color;
            opacity: 0.2;
        }
    }
}

.burger{
    display: none;
    &:checked ~ .wrapper{
        width: 71%;
        padding: 40px;
    }
    &:checked ~ .wrapper > .wrapper__links{
        font-size: 12px;
    }
    appearance: none;
    &__box{
        width: 24px;
        height: 13px;
        display: none;
        align-items: center;
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 1px;
            background-color: #33323D;
            position: absolute;
            top: 0;
            right: 0;
        }
        &::before{
            content: "";
            width: 100%;
            height: 1px;
            background-color: #33323D;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &__line{
        width: 100%;
        height: 1px;
        background-color: #33323D;
    }
}

.wrapper{
    position: absolute;
    transform: translatey(100%);
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    padding: 0;
    background-color: #33323D;
    transition: 0.2s ease-in-out;
    &__links{
        transition: 0.5s ease-in;
        font-size: 0;
        margin-bottom: 32px;
        color: white;
        &:active{
            color: #fafafa;
            opacity: 1;
        }
        &:last-child{
            margin: 0;
        }
    }
}

@media (max-width: 896px){
    .nav__block{
        padding: 47px 0;
    }
}

@media  (max-width: 500px) {
    .nav__block{
        padding: 32px 0;
    }
     .burger__box{
        display: flex;
    }

    .nav__list{
        display: none;
    }
}

@media (min-width: 501px){
     .wrapper{
         display: none;
     }
}