.main__btn{
    width: 202px;
    height: 48px;
    border: 1px solid #33323D;
    box-sizing: border-box;
    text-align: center;
    &__link{
        text-decoration: none;
        font-size: 12px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #33323D;
    }
    &:hover > &__link{
        color: #FAFAFA;
    }

    &:hover{
        background: #33323D;
    }
    &:active{
        opacity: 0.2;
    }
}